/* Fonts */
@font-face {
  font-family: 'glacial';
  src: url(fonts/GlacialIndifference-Regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'glacial-bold';
  src: url(fonts/GlacialIndifference-Bold.otf);
  font-style: normal;
  font-weight: 400;
}

/* CSS Styling */
/* General */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  color: black;
  background-color: #060429;
  text-align: center;
  font-family: 'glacial';
  overflow-x: hidden;
  cursor: none;
}

/* Loading page */
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4000;
  background-color: #060429;
  color: #f5f5f5;
}

/* Cursor */
.cursor {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f046e4;
  pointer-events: none;
  position: fixed;
  opacity: 0.6;
  z-index: 3200;
  text-align: center;
}

.cursorProject, .cursorWork {
  font-size: 8px;
  color: white;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -20%);
  opacity: 0;
}

.cursorProject {
  top: 50%;
  left: 50%;
  transform: translate(-49%, -25%);
}

/* Navbar  */
nav {
  width: 30%;
  margin-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
  list-style: none;
}

.navlink, .hamburger-link {
  font-size: 25px;
  text-decoration: none;
  color: white;
  outline: none;
  cursor: none;
}

.hamburger-menu {
  position: fixed;
  height: 4rem;
  width: 4rem;
  top: 30px;
  left: 30px;
  background-color: inherit;
  cursor: none;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 3003!important;
}

.bar {
  width: 3rem;
  height: 2px;
  background-color: #f5f5f5;
  display: inline-block;
  position: absolute;
  transition: background-color .5s;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  left: 0;
  width: inherit;
  height: inherit;
  background: #f5f5f5;
  transition: all .5s;
}

.bar::before {
  top: -.8rem;
}

.bar::after {
  top: .8rem;
}

.open .bar {
  background-color: transparent;
}

.open .bar::before {
  top: 0;
  transform: rotate(135deg);
}

.open .bar::after {
  top: 0;
  transform: rotate(-135deg);
}

.hamburger-list {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  transform-origin: left;
  visibility: hidden;
  z-index: 3001;
}

.open .hamburger-list {
  visibility: visible !important;
}

/* About Section */
.active {
  font-family: 'glacial-bold';
}

.about {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  background: transparent;
  color: #f5f5f5;
  z-index: 1000 !important;
}

.about-para {
  width: 30%;
  opacity: 0.6;
  height: 100%;
  font-size: 18px;
  padding-top: 20%;
  text-align: left;
  padding-left: 10%;
  font-family: 'Prata', sans-serif;
  z-index: 1000 !important;
}

.about-para p {
  margin-bottom: 30px;
}

canvas {
  opacity: 0;
  z-index: 100 !important;
  position: static;
  top: 0;
  right: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

#work {
  z-index: 1000 !important;
}

#work:hover {
  font-weight: bold;
  color: #f736ce;
}

.para-bold {
  font-size: 35px;
  font-family: 'glacial-bold';
}

/* Projects Section */
.portfolio {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  background-image: linear-gradient(to bottom, #641341, #691d48, #6e264e, #732f55, #78375c);
}

.portfolio-left {
  float: left;
  width: 100%;
  height: 100%;
  text-align: left;
  opacity: 0;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  z-index: 2000;
}

#portfolio-left {
  z-index: 2000!important;
  position: relative!important;
}

.text {
  position: absolute;
  width: 250px;
  padding: 20px 10px;
  background-color: #f5f5f5;
  top: 75%;
  left: 50px;
  opacity: 0.9;
  z-index: 2000;
  border-radius: 10px;
}

.text h4 {
  font-family: 'Prata', sans-serif;
  font-weight: 500;
  width: 80%;
  font-size: 20px;
  margin-left: 10px;
}

.projects {
  height: 80%;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 50%;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
}

.circle {
  height: 30px;
  width: 30px;
  background: #C510E2;
  background: -webkit-linear-gradient(top, #C510E2, #912573);
  background: -moz-linear-gradient(top, #C510E2, #912573);
  background: linear-gradient(to bottom, #C510E2, #912573);
  border-radius: 50%;
  z-index: 2800;
  -webkit-box-shadow: 1px 15px 21px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 15px 21px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 15px 21px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle::before {
  content: "";
  height: 24px;
  width: 24px;
  background: -webkit-linear-gradient(bottom, #720724, #F737CF);
  background: -moz-linear-gradient(bottom, #720724, #F737CF);
  background: linear-gradient(to top, #720724, #F737CF);
  border-radius: 50%;
  filter: blur(2px);
  z-index: 2800;
}

.toContact {
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 35px;
  opacity: 0.5;
  z-index: 1000 !important;
}

#toContact {
  opacity: 0.5;
}

/* Contact Section */
.contact {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 200%;
  background: #6428A0;
  background: -webkit-linear-gradient(bottom, #6428A0, #77365B);
  background: -moz-linear-gradient(bottom, #6428A0, #77365B);
  background: linear-gradient(to top, #6428A0, #77365B);
  overflow: hidden;
}

.contact-box {
  width: 65%;
  height: 500px;
  padding: 40px;
  border-radius: 10px;
  overflow: hidden;
  background-image: linear-gradient(to left top, #060336, #22144c, #401f62, #612b77, #83368b);
  margin: 0 auto;
  transform: translateY(-50%);
  position: relative;
  top: 50%;
  -webkit-box-shadow: 1px 15px 21px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 15px 21px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 15px 21px 0px rgba(0, 0, 0, 0.75);
}

.contact-banner {
  width: 100%;
  color: white;
  padding: 80px 0px;
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.contact-banner h2 {
  margin: 20px auto;
  font-size: 40px;
}

.contact-boxes {
  width: 60%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  margin-top: -50px;
}

.contact-littleBox {
  width: 30%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  padding: 0 40px;
  margin-top: 40px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.contact-littleBox i {
  color: #f736ce;
  font-size: 40px;
}

.contact-littleBox a {
  outline: none;
  border: none;
  cursor: none;
}

footer {
  height: 40px;
  width: 500px;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  text-decoration: none;
  z-index: 1000;
}

footer i {
  font-size: 20px;
  color: #f5f5f5;
}

footer a {
  cursor: none;
}

@media only screen and (max-width:320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}

@media only screen and (max-width:480px) {

  /* smartphones, Android phones, landscape iPhone */
  .about {
    height: 100vh;
  }

  .para-bold {
    font-size: 28px;
  }

  .about-para {
    padding-top: 30%;
    width: 70% !important;
    font-size: 15px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0px;
  }

  .contact-banner {
    padding-top: 0px;
  }

  .contact-banner h2 {
    font-size: 2rem;
  }

  .contact-box {
    width: 70% !important;
    height: 60vh;
  }

  .portfolioImage {
    height: 100vh;
    width: auto;
  }

  .text {
    width: 200px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  footer {
    width: 80vw !important;
  }

  footer i {
    font-size: 15px;
  }
}

@media only screen and (max-width:600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (max-width:801px) {

  /* tablet, landscape iPad, lo-res laptops ands desktops */
  nav {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }
}

@media only screen and (max-width:1025px) {

  /* big landscape tablets, laptops, and desktops */
  .contact-boxes {
    width: 70%;
    justify-content: space-between;
  }

  .contact-littleBox {
    width: 20px !important;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DDDDDD;
    background: -webkit-linear-gradient(bottom, #DDDDDD, #FFFFFF);
    background: -moz-linear-gradient(bottom, #DDDDDD, #FFFFFF);
    background: linear-gradient(to top, #DDDDDD, #FFFFFF);
  }

  .contact-littleBox::before {
    content: "";
    height: 82px;
    width: 82px;
    border-radius: 7px;
    position: absolute;
    background: #DDDDDD;
    background: -webkit-linear-gradient(top, #DDDDDD, #FFFFFF);
    background: -moz-linear-gradient(top, #DDDDDD, #FFFFFF);
    background: linear-gradient(to bottom, #DDDDDD, #FFFFFF);
    filter: blur(3px);
  }

  .contact-littleBox p {
    display: none !important;
  }

  .contact-littleBox i, .contact-littleBox a {
    font-size: 30px;
    z-index: 1000 !important;
  }
}

@media only screen and (max-width:1281px) {

  /* hi-res laptops and desktops */
  nav {
    width: 50%;
  }

  .about-para {
    width: 50%;
  }

  .contact-box {
    display: flex;
    flex-direction: column;
  }
}
